#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        Macro_A: Macro_A {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp A>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_B: Macro_B {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp B>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_C: Macro_C {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp C>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_D: Macro_D {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp D>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_E: Macro_E {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp E>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_F: Macro_F {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp F>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_G: Macro_G {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp G>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_H: Macro_H {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp H>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_I: Macro_I {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp I>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_J: Macro_J {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp J>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_K: Macro_K {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp K>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_L: Macro_L {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp L>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_M: Macro_M {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp M>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_N: Macro_N {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp N>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_O: Macro_O {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp O>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_P: Macro_P {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp P>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_Q: Macro_Q {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp Q>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_R: Macro_R {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp R>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_S: Macro_S {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp S>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_T: Macro_T {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp T>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_U: Macro_U {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp U>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_V: Macro_V {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp V>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };

        Macro_W: Macro_W {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LALT &kp LWIN>,
                    <&macro_tap &kp W>,
                    <&macro_release &kp LCTRL &kp LALT &kp LWIN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ==== Layer 0 - Base Numbers + Letters ====
        base_layer {
            display-name = "Base";
            bindings = <
                &mo 1             &none           &none              &none
                &kp KP_NUM        &kp KP_SLASH    &kp KP_MULTIPLY    &kp KP_MINUS
                &kp KP_N7         &kp KP_N8       &kp KP_N9          &kp KP_PLUS
                &kp KP_N4         &kp KP_N5       &kp KP_N6          &kp KP_PLUS
                &kp KP_N1         &kp KP_N2       &kp KP_N3          &kp ENTER
                &none             &kp N0          &kp KP_DOT         &kp ENTER
            >;
        };

        config_layer {
            display-name = "Config";
            bindings = <
                &mo 1          &none        &none           &studio_unlock
                &none          &none        &none           &none
                &none          &none        &none           &none
                &none          &none        &none           &none
                &bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2    &bt BT_SEL 4
                &to 0          &to 2        &to 3           &to 4
            >;
        };

        Macro_layer {
            display-name = "Macro";
            bindings = <
                &mo 1      &Macro_A  &Macro_B  &Macro_C
                &Macro_D   &Macro_E  &Macro_F  &Macro_G
                &Macro_H   &Macro_I  &Macro_J  &Macro_K
                &Macro_L   &Macro_M  &Macro_N  &Macro_O
                &Macro_P   &Macro_Q  &Macro_R  &Macro_S
                &Macro_T   &Macro_U  &macro_V  &macro_W
            >;
        };

        extra_layer_3 {
            status = "reserved";
        };

        extra_layer_4 {
            status = "reserved";
        };

        extra_layer_5 {
            status = "reserved";
        };
    };
};