#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        Macro_1: Macro_1 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp A>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_2: Macro_2 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp B>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_3: Macro_3 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp C>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_4: Macro_4 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp D>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_5: Macro_5 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp E>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_6: Macro_6 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp F>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_7: Macro_7 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp G>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_8: Macro_8 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp H>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_9: Macro_9 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp I>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_10: Macro_10 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp J>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_11: Macro_11 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp K>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_12: Macro_12 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp L>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_13: Macro_13 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp M>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_14: Macro_14 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_15: Macro_15 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp O>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_16: Macro_16 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp P>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_17: Macro_17 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp Q>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_18: Macro_18 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp R>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_19: Macro_19 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp S>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_20: Macro_20 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp T>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_21: Macro_21 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp U>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_22: Macro_22 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp V>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_23: Macro_23 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp W>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_24: Macro_24 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp X>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_25: Macro_25 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp Y>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_26: Macro_26 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp Z>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };

        Macro_27: Macro_27 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N1>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_28: Macro_28 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N2>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_29: Macro_29 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N3>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_30: Macro_30 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N4>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_31: Macro_31 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N5>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_32: Macro_32 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N6>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_33: Macro_33 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N7>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_34: Macro_34 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N8>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_35: Macro_35 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N9>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_36: Macro_36 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp N0>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };

        Macro_37: Macro_37 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp MINUS>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_38: Macro_38 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp EQUAL>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_39: Macro_39 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp LBKT>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_40: Macro_40 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp RBKT>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_41: Macro_41 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp BSLH>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_42: Macro_42 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp SEMI>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_43: Macro_43 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp SQT>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_44: Macro_44 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp COMMA>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_45: Macro_45 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp DOT>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };
        Macro_46: Macro_46 { bindings = <&macro_press &kp LCTRL &kp LALT &kp LSHIFT>, <&macro_tap &kp SLASH>, <&macro_release &kp LCTRL &kp LALT &kp LSHIFT>; };


    };

    keymap {
        compatible = "zmk,keymap";

        // ==== Layer 0 - Base Numbers + Letters ====
        base_layer {
            display-name = "Base";
            bindings = <
                &mo 1             &none           &none              &none
                &kp KP_NUM        &kp KP_SLASH    &kp KP_MULTIPLY    &kp KP_MINUS
                &kp KP_N7         &kp KP_N8       &kp KP_N9          &kp KP_PLUS
                &kp KP_N4         &kp KP_N5       &kp KP_N6          &kp KP_PLUS
                &kp KP_N1         &kp KP_N2       &kp KP_N3          &kp ENTER
                &none             &kp N0          &kp KP_DOT         &kp ENTER
            >;
        };

        config_layer {
            display-name = "Config";
            bindings = <
                &mo 1          &none        &none           &studio_unlock
                &none          &none        &none           &none
                &none          &none        &none           &none
                &none          &none        &none           &none
                &bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2    &bt BT_SEL 4
                &to 0          &to 2        &to 3           &to 4
            >;
        };

        Macro_layer {
            display-name = "Macro";
            bindings = <
                &mo 1       &Macro_1   &Macro_2   &Macro_3
                &Macro_4    &Macro_5   &Macro_6   &Macro_7
                &Macro_8    &Macro_9   &Macro_10  &Macro_11
                &Macro_12   &Macro_13  &Macro_14  &Macro_15
                &Macro_16   &Macro_17  &Macro_18  &Macro_19
                &Macro_20   &Macro_21  &Macro_22  &Macro_23
            >;
        };

        Macro_layer_2 {
            display-name = "Macro 2";
            bindings = <
                &mo 1       &Macro_24  &Macro_25  &Macro_26
                &Macro_27   &Macro_28  &Macro_29  &Macro_30
                &Macro_31   &Macro_32  &Macro_33  &Macro_34
                &Macro_35   &Macro_36  &Macro_37  &Macro_38
                &Macro_39   &Macro_40  &Macro_41  &Macro_42
                &Macro_43   &Macro_44  &Macro_45  &Macro_46
            >;
        };

        extra_layer_3 {
            status = "reserved";
        };

        extra_layer_3 {
            status = "reserved";
        };

        extra_layer_4 {
            status = "reserved";
        };

        extra_layer_5 {
            status = "reserved";
        };
    };
};