#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // ==== Layer 0 - Base Numbers + Letters ====
        base_layer {
            display-name = "Base";
            bindings = <
                &kp N1          &kp N2     &kp N3     &studio_unlock
                &kp N5          &kp N6     &kp N7     &kp N8
                &kp N9          &kp N0     &kp A      &kp B
                &kp C           &kp D      &kp E      &kp F
                &kp G           &kp H      &kp I      &kp J
                &kp K           &kp L      &kp M      &kp G
            >;
        };

        macro_layer_1 {
            display-name = "config_layer";
            bindings = <
                &kp N1          &kp N2     &kp N3     &studio_unlock
                &kp N5          &kp N6     &kp N7     &kp N8
                &kp N9          &kp N0     &kp A      &kp B
                &kp C           &kp D      &kp E      &kp F
                &kp G           &kp H      &kp I      &kp J
                &kp K           &kp L      &kp M      &kp G
            >;
        };
    };
};